<!DOCTYPE html>
<head>
    <link rel='stylesheet' type='text/css' href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Facial Expression</title>
</head>
<body>
    <nav class='navbar bg-dark'>
        <li class='nav-item'>
            <a class='nav-link' href="facial_expressions">Facial Expression Live Detector</a>
            <a class='nav-link' href="upload" >Upload Photo</a>
        </li>
        
        
    </nav>    
    <img src={{ image_uri }} width=500px height=500px />
</body>
